<form action="/todos/{{ todo._id }}?_method=PUT" method="POST">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text h-100">
        <input type="checkbox" name="isDone" {{#if todo.isDone}} checked {{/if}}>
      </div>
    </div>
    <input class="form-control fs-4" type="text" placeholder="請輸入編輯文字" name="name" value="{{ todo.name }}">
    <div class="input-group-append d-flex align-items-center">
      <button class="btn btn-success ms-3" type="submit">Save</button>
    </div>
  </div>
</form>
