
<ul class="list-group">
  {{#each todos}}
    <li class="list-group-item">
      <div class="row">
        <div class="col d-flex align-items-center fs-4">
          <input class="me-1" type="checkbox" name="isDone" {{#if isDone}} checked {{/if}} disabled>
          {{ this.name }}
        </div>
        <div class="col d-flex justify-content-end">
          <a class="btn btn-secondary ms-3" href="./todos/{{ this._id }}">detail</a>
          <a class="btn btn-success ms-3" href="./todos/{{ this._id }}/edit">edit</a>
          <form class="ms-3" action="./todos/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-danger" type="submit">delete</button>
          </form>
        </div>
      </div>
    </li>
  {{/each}}
</ul>
