<form action="/todos" method="POST">
  <div class="input-group">
    <input class="form-control fs-4" type="text" placeholder="請輸入代辦事項" name="name">
    <div class="input-group-append d-flex align-items-center">
      <button class="btn btn-success ms-3" type="submit">Create</button>
    </div>
  </div>
</form>
